.App {
  text-align: center;
  position : relative;
}

.background {
  /*background-image: url("./img/1.jpg");*/
  background : linear-gradient(155deg, #F06291 50%, #E55C8B 50%);
  position : absolute;
  z-index : -5;
  margin: 0;
  padding : 0;
  left: 0;
  top: 0;
  width : 100vw;
  height : 100vh;
}

.frame {
  z-index : 0;
  margin : 0 auto;
  padding : 0;
  padding : 0;
  position : fixed;
  left: 50%;
  top: 50%;
  transform : translate(-50%, -55%);
  height : 650px;
  width : 500px;
  display : flex;
  flex-direction: column;
  background-color: #3C4249;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1), 0 6px 10px 0 rgba(0, 0, 0, 0.5);
}

.title-div {
  position : relative;
  width : 100%;
  /*flex-grow: 0.3;*/
  height : 6.5%;
  display : flex;
  align-items : flex-end;
  justify-content: center;
  border-bottom : 1px solid #2d3033;
}

.title-div span {
  width : 22%;
  font-weight: 600;
  font-size : 1em;
  color : #E2EAF3;
  display : relative;
  top : 50%;
  padding-bottom: 6px;
  border-bottom : 2px solid #F06292;
}

.list-div {
  position : relative;
  width : 85.5%;
  height : 50%;
  /*flex-grow : 10;*/
  /*border : 1px solid lime;*/
  margin-left : 5.7%;
  padding-right : 8%;
  padding-bottom : 13%;
  margin-right : 0;
  margin-top : 10px;
  margin-bottom : 0;
  overflow-y : scroll;
}

.list-div::-webkit-scrollbar {
  display : none;
}

.blank {
  position : fixed;
  left : 10%;
  top : 90%;
  width : 80%;
  height : 10%;
  z-index : 5;
  background-color : #3C4249;
}